[Unit]
Description=Pipeline Server

[Service]
User=kasra
WorkingDirectory=/home/kasra/projects/pipeline-js
ExecStart=/usr/bin/python3 /home/kasra/projects/pipeline-js/simple_server.py
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target