:root {
  --footer_menu_size: 111px;
  --link_button_main_color: rgb(255, 165, 0);
  --link_button_main_color_enabled: rgb(255, 165, 0, 0.5);
  --link_button_hover_color: rgb(255, 0, 0);
  --msg_color: rgb(36, 61, 40);
  --nav_button_color: rgb(102, 17, 17);
  --footer_color: rgb(85, 41, 9);
  --base_text_color: rgb(221, 221, 221);
  --input_background_color: rgb(51, 51, 51);
  --body_background_color: rgb(16, 24, 37);
  --banner_color: rgb(51, 51, 51);
  --sidebar_animation_time: 0.1s;
  --desktopview_device_width_threshold: 1117px;
  --tag_color: rgb(241, 170, 96);
  --cmd_color: rgb(187, 187, 187);
  --msg_timestamp_color: rgb(57, 146, 138);
  --quote_timestamp_color: rgb(87, 186, 158);
  --disc-font: Arial, Helvetica, sans-serif;
  --input-font: Arial, Helvetica, sans-serif;
  --link-font: monospace;
  --time-font: monospace;
  --menu_modal_display: none;
}
/* global font setting */
 * { font-size: 18px; color: var(--base_text_color); }

:root {
  --main_padding: 10px;
  --main_height: calc(100dvh - var(--footer_menu_size) - 2*var(--main_padding));
}

/* initial layout */
body {
  margin: 0;
  background: var(--body_background_color);
}
footer {
  background: var(--footer_color);
  width: 100%;
  height: var(--footer_menu_size);
  position: absolute; bottom: 0; left: 0;
  z-index: 12;
}
main {
  position: absolute; top: var(--navbar_size); left: 0;
  height: var(--main_height);
  width: -webkit-fill-available;
  width: -moz-available;
  padding: var(--main_padding);
  overflow-y: auto;
}

/* forms */
select, option, input[type=button], input[type=button], button, input[type=text] { color: black }
input[type=text].msg_input { color: var(--base_text_color) }
input[type=checkbox] { width: 18px; height: 18px; margin: 1px 3px 1px 3px; padding: 0 }

/* disc messages */
.msglist {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
  font-feature-settings: "liga" 0;
}
.msg { display: flex; margin: 3px; font-family: var(--disc-font); }
.msg_timestamp { border-radius: 18px; color: var(--msg_timestamp_color); font-family: var(--time-font); }
.msg_menu { white-space: nowrap; }
.msg_content {
  display: inline;
  overflow-wrap: anywhere;
  padding: 7px 12px 8px 12px;
  border-radius: 18px;
  background: var(--msg_color); color: rgb(250, 250, 250);
}
/* 
.msg_content:has(.ref_snippet:last-child) {
  padding-right: 0;
  padding-bottom: 0;
} */

.ref_snippet {
  display: block;
  border: 2px solid var(--quote_timestamp_color);
  border-radius: 20px;
  padding-left: 12px;
  margin-left: -12px;
  padding-top: 8px;
  margin-top: 4px;
  padding-right: 12px;
  margin-right: -12px;
  padding-bottom: 7px;
  margin-bottom: -9px;
  overflow-x: clip;
  overflow-wrap: revert;
}

pre { font-family: Courier; margin: 0px; color: var(--base_text_color); }

/* selecting specific messages */
.selected { width: 100%; background: #0cc4; border-radius: 18px }
.selected > .msg_menu > .msg_timestamp { color: #ddd; }

/* tags */
emph.tag { color: var(--tag_color); font-weight: 500; display: inline; }
emph.cmd { color: var(--cmd_color); }

/* banner */
.banner-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 15px;
}
.banner {
  border: solid var(--banner_color);
  padding: 3px 7px 3px 5px;
  min-width: fit-content;
}
.banner-bar {
  width: -webkit-fill-available;
  width: -moz-available;
  height: 3px;
  background: var(--banner_color);
}
.banner-bar-left {
  height: 3px;
  min-width: 30px;
  background: var(--banner_color);
}

/* edit */
.editor_container {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
#editor_submit-button {
  margin: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
}
.editor_textarea {
  background: var(--input_background_color);
  box-sizing: border-box;
  line-height: 23px;
  resize:none;
  overflow: auto;
  width: -webkit-fill-available;
  width: -moz-available;
  height: var(--main_height);
}

/* buttons */
.menu-button {
  background: none;
  color: var(--link_button_main_color);
  font-family: var(--link-font);
  border: var(--link_button_main_color) 1px solid;
  margin: 2px;
  padding: 10px 5px;
  border-radius: 3px;
}

.menu-button.enabled {
  background: var(--link_button_main_color_enabled);
  color: var(--base_text_color);
}

.menu-button:hover, .menu-button:focus { border-color: var(--link_button_hover_color); outline: none; }
.menu-button:active { color: var(--link_button_hovercolor); }

.sidebar-buttons {
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

:root {
  --routine_menu_width: 180px;
}

#subscriptions, #local_repo_name {
  width: min(400px, 100%);
}

.routine-buttons {
  display:flex;
  width: var(--routine_menu_width);
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  overflow-y: auto; /* scrollbar if needed */
  border: solid var(--banner_color);
  box-shadow: 0px 0px 11px 2px var(--header_color);
}

.routine-button {
  background: none;
  color: var(--link_button_main_color);
  cursor: pointer;
  font-family: var(--link-font);
  margin: 2px;
  padding: 6px 6px 4px 6px;
  min-width: 50px;
}
/* .routine-button:hover, .routine-button:focus { border-color: var(--link_button_hover_color); outline: none; }
   .routine-button:active { color: var(--link_button_hovercolor); }
*/

.routine-menu-collection {
  display: flex;
  height: calc(var(--main_height) - 100px);
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

/* disc input */
.msg_input {
  background: var(--input_background_color);
  margin: 5px;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 5px;
  font-family: var(--input-font);
}
blockquote {
  /* background: var(--input_background_color);
  border-left: 5px solid var(--msg_color);
  padding: 5px;
  margin: 5px; */
  max-width: 600px;
}

/* phones */
/* @media (max-width: 1117px) { */
  .msg { flex-direction: column; align-items: flex-start; }
  .msg_timestamp { margin: 0px 0px 0px 13px; padding: 5px 0px 1px 0px; }
  .editor_textarea { font-size: 14px; line-height: 20px; }
/* } */

/* desktop */
/* @media (min-width: 1117px) { */
  /* .msg { flex-direction: row; align-items: baseline; }
  .msg_timestamp { margin: 0px 5px 0px 5px; } */
/* } */

/* menu modal */

:root {
  --menu-modal-margin-size: 5%;
  --menu-modal-padding: 5px;
  --menu-modal-height: calc(100% - var(--footer_menu_size) - (
    2 * (var(--menu-modal-margin-size) + var(--menu-modal-padding))
  ));
  --menu-modal-width: calc(100% - (
    2 * (var(--menu-modal-margin-size) + var(--menu-modal-padding))
  ));
}

.menu-modal {
  display: var(--menu_modal_display);
  position: fixed;
  z-index: 10;
  left: var(--menu-modal-margin-size); top: var(--menu-modal-margin-size);
  width: var(--menu-modal-width); height: var(--menu-modal-height);
  overflow: auto;
  background-color: rgba(0,0,0,0.85);
  /* transition: display 0.5s; TODO figure out how to make transitions work */
  margin: 0;
  padding: var(--menu-modal-padding);

  border-radius: 5px;

  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  gap: 0px;
}

.routine-block {
  margin: 5px;
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(0, 92, 92);
}

.routine-block > ul, .routine-block > ul > li > ul {
  padding-inline-start: 20px;
  margin-block-start: 3px;
  margin-block-end: 3px;
}

#modal-container {
  display: inline;
  margin: 0;
}

#footer-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

/* @media (max-width: 1000px) { */
#footer-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding-top: 3px;
}
/* } */

.msgblock {
  margin-top: 10px;
  margin-bottom: 10px;
}

.quotes {
  border-top: 2px solid var(--quote_timestamp_color);
  border-left: 2px solid var(--quote_timestamp_color);
  border-bottom: 2px solid var(--quote_timestamp_color);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  padding: 5px;
  min-width: -webkit-fill-available;
  min-width: -moz-available;
}

.msg_blocks {
  width: -webkit-fill-available;
  width: -moz-available;
}

/* msg blocks when editable */
.msg_blocks[contenteditable="true"] {
  background: var(--input_background_color);
  border-radius: 5px;
  padding: 5px;
  margin-top: 7px;
  display: inline-block;
}

.msg_blocks.withcontent {
  padding: 5px;
  margin-top: 7px;
}

p.msgblock {
  margin: 0;
}

.calendar.week {
  border-radius: 10px;
  border: 2px solid var(--header_color);
  margin-top: 20px;
}

.weekdays { 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.calendar.day {
  min-height: 60px;
  border-radius: 5px;
  margin: 2px;
}

.calendar.notelist {
  padding-inline-start: 15px;
}

.calendar.note {
  margin-left: 20px;
}

.calendar.week-header {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

#search-pagination {
  display: inline;
}

#search-options {
  display: inline;
}

#footer_menu_container {
  width: fit-content;
}

#footer_message_container {
  display: flex;
  margin-left: 7px;
  justify-content: space-between;
  margin-right: 7px;
}

@media screen and (max-width: 600px) {
  #footer_menu_container {
    width: -webkit-fill-available;
    width: -moz-available;
  }
}

.placeholder {
  color: var(--placeholder_text_color);
  user-select: none;
}

.treenode-list {
  list-style-type: '- ';
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 11px;  /* when you click edit, the dashes don't move */
}